<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한울타리</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
  </style>
</head>
<body>
  <%- include('../../partials/header.ejs') %>
  <main>
    <div class="container mt-3">
      <div class="mb-3">
        <h5 class="d-flex justify-content-center">코트추가</h5>
      </div>
      <form id="courtForm" action="/admin/court/add" method="POST">
        <div class="container">
          <a href="/admin/court" class="btn btn-secondary w-100 mb-3">돌아가기</a>
          <button class="btn btn-warning w-100 mb-3" onclick="submitForm(event)">등록</button>
        </div>
        <div class="container">
          <input type="hidden" id="newCourtData" name="newCourtData" value="">
          <div class="mb-3">
            <label for="newPlace" class="form-label">장소</label>
            <input type="text" class="form-control w-100" id="newPlace" name="newPlace" placeholder="장소를 입력하세요. ex)수원북중">
          </div>
          <div class="mb-3">
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" style="width: 30%;">이름</th>
                  <th scope="col" style="width: 25%;">표면</th>
                  <th scope="col" style="width: 25%;">타입</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="courtTableBody">
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <input type="text" class="form-control form-control-sm" id="newCourt" placeholder="ex)1번코트">
                  </td>
                  <td>
                    <select class="form-select form-select-sm" id="newSurface" aria-label="Default select example">
                      <option value="하드" selected>하드</option>
                      <option value="인조잔디">인조잔디</option>
                      <option value="클레이">클레이</option>
                      <option value="카펫">카펫</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-select form-select-sm" id="newType" aria-label="Default select example">
                      <option value="실외" selected>실외</option>
                      <option value="실내">실내</option>
                    </select>
                  </td>
                  <td>
                    <i class="bi bi-x-circle-fill text-danger" onclick="deleteRow(this)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <button type="button" class="btn btn-primary w-100" onclick="addRow()">코트 +</button>
          </div>
        </div>
      </form>
    </div>
    <div style="height: 100px;"></div>
  </main>
  <%- include('../../partials/footer.ejs') %>
  <script>
    function addRow() {
      var table = document.getElementById("courtTableBody");
      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);

      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);

      cell1.innerHTML = `
        <strong>${rowCount + 1}</strong>
      `;

      cell2.innerHTML = `
        <input type="text" class="form-control form-control-sm" id="newCourt" placeholder="ex)1번코트">
      `;

      cell3.innerHTML = `
        <select class="form-select form-select-sm" id="newSurface" aria-label="Default select example">
          <option value="하드" selected>하드</option>
          <option value="인조잔디">인조잔디</option>
          <option value="클레이">클레이</option>
          <option value="카펫">카펫</option>
        </select>

      `;
      cell4.innerHTML = `
        <select class="form-select form-select-sm" id="newType" aria-label="Default select example">
          <option value="실외" selected>실외</option>
          <option value="실내">실내</option>
        </select>
      `;

      cell5.innerHTML = `
        <i class="bi bi-x-circle-fill text-danger" onclick="deleteRow(this)"></i>
      `;
    }

    function deleteRow(button) {
      var row = button.parentNode.parentNode;
      row.parentNode.removeChild(row);

      var table = document.getElementById("courtTableBody");

      for (var i = 0; i < table.rows.length; i++) {
        var currentRow = table.rows[i];

        currentRow.cells[0].innerHTML = `
          <strong>${i + 1}</strong>
        `;
      }
    }

    function submitForm(event) {
      var table = document.getElementById("courtTableBody");
      var courts = [];
      var place = document.getElementById("newPlace").value;

      for(var i = 0; i < table.rows.length; i++) {
        var currentRow = table.rows[i];

        var court = currentRow.cells[1].querySelector("input").value;
        var surface = currentRow.cells[2].querySelector("select").value;
        var type = currentRow.cells[3].querySelector("select").value;

        // var court = currentRow.cells[1].getElementById("newCourt").value;
        // var surface = currentRow.cells[2].getElementById("newSurface").value;
        // var type = currentRow.cells[3].getElementById("newType").value;

        if(!place) {
          alert('장소를 확인해주세요!');
          event.preventDefault();
          return;
        } else if (!court) {
          alert('코트 이름을 확인해주세요!');
          event.preventDefault();
          return;
        } else {

        }

        courts.push({
          place: place,
          court: court,
          surface: surface,
          type: type
        });
      }

      console.log('테스트');
      console.log(courts);

      var courtsJson = JSON.stringify(courts);
      document.getElementById("newCourtData").value = courtsJson;
      document.getElementById("courtForm").submit();
    }
  </script>
</body>
</html>
